body {
  background-color: #0D0E10;
  margin: 0;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}
button {
  background-color: rgba(194, 0, 0, .7);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  height: 30px;
  width: 100px;
  margin: 2em;
  padding: .25em .5em;
  text-decoration: none;
  transition: background-color;
  transition-duration: 500ms;
}
button:hover {
    background-color: #fff;
    color: #000;
}
.page-div {
  background-image: url(images/shop-page.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: auto;
  margin: 0;
  position: relative;
}
